body{
      margin: 0px;
      padding: 0px;
      padding: 30px;
       display: inline-block;

}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
 text-align: center;
 color: aliceblue;
 font-size: 20px;
 padding: 30px;
 display: inline-block;

}

.li{
       

}
.titre{
        color: aliceblue;
        font-size: 3rem;
        align-items: center;
        margin: 0 auto;
}

 .table{

         font-size: 30px;
       
 
}