<p>liste-clients works!</p>

<p *ngIf='router.url.includes("Ffaure")'>COUCOU</p>

<table>
    <thead>
        <tr>
            <th>
                nom 
            </th>
            <th>
                prenom
            </th>
            <th>
                identifiant
            </th>
            <th>
                MDP
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let conseiller of conseillers">
            <th>{{conseiller.id}}</th>
            <td>{{conseiller.nom}}</td>
            <td>{{conseiller.prenom}}</td>
            <td>{{conseiller.identifiant}}</td>
            <td>{{conseiller.mot_de_passe}}</td>
        </tr>
    </tbody>
</table>
