<!-- creation header -->
<div class="container">
    <div class="message">
        <ul>
            <li>Bonjour </li>
            <li> Deconnexion</li>
        </ul>
        <div class="titre">
            <p>Liste de Clients</p>

           <div class="table">
            <table>
            
                <tr>
                    <th>Nom du Client</th>
                    <th>N° de Compte</th>
                    <th>Date</th>
                    <th>Solde</th>
                </tr>
                <tr>
                    <td>Kevin Arnaud</td>
                    <td>123456789 </td>
                    <td>12/11/2022</td>
                    <td>2000</td>
                </tr>
               
            </table>
        </div>
    </div>
</div>