<div class="containerConnect">
  <div class="titreConnect">
    <h1>Societe d'epargne</h1>
    <h2>Connexion</h2>

    <!-- Creation du formulaire  -->
    <form (ngSubmit)="conseillerLogin()">
      <div class="form">
        <label for="identifiantConnexion">Identifiant</label>
        <input type="text" [(ngModel)]="login" id="identifiant" name="identifiant"/>

        <label>Mot de passe</label>
        <input type="password" [(ngModel)]="mdp" id="mot_de_passe" name="mot_de_passe"/>

        <div class="btnConnect">
          <button type="submit">Se connecter</button>
        </div>
      </div>
    </form>
  </div>
  <!-- Insertion de l'image -->
  <div class="imgConnect">
    <img src="../../../assets/img/img.png" />
  </div>
</div>
