.containerConnect {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .imgConnect {
        img {
            height: 100vh;
        }
    }
    .titreConnect {
        color: aliceblue;
        margin: 0 auto;
        padding-bottom: 1rem;
        //espace entre les input//width 100%/padding pour aggrandire les input
        .form {
            display: flex;
            flex-direction: column;
            input {
                width: 100%;
                padding: 0.7rem;
                margin-bottom: 2rem;
            }
        }
        h1 {
            font-family: "Libre Barcode 128 Text", cursive;
            font-size: 4rem;
        }
        h2 {
            text-align: center;
        }
        .btnConnect {
            display: flex;
            justify-content: center;
            button {
                padding: 0.7rem 2rem 0.7rem 2rem;
                border: none;
                border-radius: 0.2rem;
            }

        }
    }
}
