<div class="containerConnect">
    <div class="titreConnect">
        <h1>Societe d'epargne</h1>
        <h2>Connexion</h2>

        <!-- Creation du formulaire  -->
        <form action="/page-traitement-donnees" method="post">
            <div class="form">
                <label>Login
                    <input type="text">
                </label><br>
                <label>Mot de passe
                    <input type="text">
                </label><br>

                <div class="btnConnect">
                    <button type="submit"> Se connecter</button>
                </div>
            </div>

        </form>
    </div>
    <!-- Insertion de l'image -->
    <div class="imgConnect">
        <img src="../../../assets/img/img.png" />
    </div>