.titre {
  display: flex;
  align-items: center;
  color: aliceblue;
  font-size: 20px;
  padding: 30px;
  justify-content: space-between; //pour mettre des espaces entre 2 elements
}

.client {
  color: aliceblue;
  font-size: 3rem;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
